n8n-workflows/03-scheduled-daily-report.json
{
  "name": "ScrapFlow - Daily Report (18:00)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 18 * * 1-5"
            }
          ]
        },
        "timezone": "Africa/Johannesburg"
      },
      "id": "3a2b3c4d-0001",
      "name": "Cron – 18:00 Mon–Fri",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://scrapflow-api.onrender.com/api/dashboard",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer REPLACE_WITH_OWNER_JWT_TOKEN" }
          ]
        },
        "options": {}
      },
      "id": "3a2b3c4d-0002",
      "name": "GET Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fromEmail": "kwanelerh069@gmail.com",
        "toEmail": "kwanelerh069@gmail.com",
        "subject": "=ScrapFlow Daily Report – {{ $now.format('dd MMM yyyy') }}",
        "emailType": "html",
        "message": "=<!DOCTYPE html><html><body style='font-family:Arial,sans-serif;max-width:600px;margin:0 auto;padding:20px'><h2 style='color:#1a56db'>ScrapFlow Daily Summary</h2><p style='color:#6b7280'>{{ $now.setZone('Africa/Johannesburg').toFormat('dd MMMM yyyy, HH:mm') }} SAST</p><table width='100%' style='border-collapse:collapse;margin-bottom:20px'><tr style='background:#1a56db;color:white'><th style='padding:10px 14px;text-align:left' colspan='2'>Operations Today</th></tr><tr style='background:#f9fafb'><td style='padding:10px 14px'>Inbound Tickets</td><td style='padding:10px 14px;font-weight:bold'>{{ $json.inboundTicketsToday ?? 0 }}</td></tr><tr><td style='padding:10px 14px'>Outbound Tickets</td><td style='padding:10px 14px;font-weight:bold'>{{ $json.outboundTicketsToday ?? 0 }}</td></tr><tr style='background:#f9fafb'><td style='padding:10px 14px'>Tonnage In (kg)</td><td style='padding:10px 14px;font-weight:bold'>{{ ($json.tonnageIn ?? 0).toLocaleString() }}</td></tr><tr><td style='padding:10px 14px'>Tonnage Out (kg)</td><td style='padding:10px 14px;font-weight:bold'>{{ ($json.tonnageOut ?? 0).toLocaleString() }}</td></tr><tr style='background:#059669;color:white'><td style='padding:10px 14px;font-weight:bold'>Revenue Today</td><td style='padding:10px 14px;font-weight:bold;font-size:18px'>R {{ ($json.revenueToday ?? 0).toLocaleString() }}</td></tr></table><table width='100%' style='border-collapse:collapse'><tr style='background:#1a56db;color:white'><th style='padding:10px 14px;text-align:left' colspan='2'>Inventory</th></tr><tr style='background:#f9fafb'><td style='padding:10px 14px'>Total Stock (kg)</td><td style='padding:10px 14px;font-weight:bold'>{{ ($json.totalInventoryKg ?? 0).toLocaleString() }}</td></tr><tr><td style='padding:10px 14px'>Estimated Value</td><td style='padding:10px 14px;font-weight:bold'>R {{ ($json.totalInventoryValue ?? 0).toLocaleString() }}</td></tr><tr style='background:#f9fafb'><td style='padding:10px 14px'>Active Tickets</td><td style='padding:10px 14px;font-weight:bold'>{{ $json.activeTickets ?? 0 }}</td></tr></table><br/><p style='color:#9ca3af;font-size:12px'>ScrapFlow SA — Automated Daily Report. Sent weekdays at 18:00 SAST.</p></body></html>",
        "options": {}
      },
      "id": "3a2b3c4d-0003",
      "name": "Email Daily Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [650, 300],
      "credentials": {
        "smtp": { "id": "REPLACE_WITH_SMTP_CREDENTIAL_ID", "name": "SMTP" }
      }
    }
  ],
  "connections": {
    "Cron – 18:00 Mon–Fri": { "main": [[{ "node": "GET Dashboard", "type": "main", "index": 0 }]] },
    "GET Dashboard": { "main": [[{ "node": "Email Daily Report", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "03-daily-report-v1",
  "meta": { "templateCredsSetupCompleted": false, "instanceId": "scrapflow" },
  "tags": [{ "createdAt": "2026-03-04T00:00:00Z", "updatedAt": "2026-03-04T00:00:00Z", "id": "scrapflow-tag", "name": "ScrapFlow" }]
}
